
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    max-width: 100vw;
    max-height: 100vh;
    background-color: #bbb;
}
/* ---------------------------------------------------------------------------------------------- */
.container1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(133, 126, 126); */
    background-color: #bbb;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 50px 50px ;
}
/* ----------------------------------------------------------------------------------------------- */
ul{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* ------------------------------------------------------------------------------------------------ */
li{
    list-style: none;
}
li>a{
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

li>a:hover{
    transform: scale(1.1);
    background-color: transparent;
    color: black;
    border: 1px solid black;

}
li>a:active{
    opacity: 0.5;

}
/* --------------------------------------------------------------------------------------------------- */
input{
    flex-wrap: wrap;
    width: 8rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
/* --------------------------------------------------------------------------------------------------- */
button{
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}
button:hover{
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid black;
}
button:active{
    opacity: 0.5;
}
/* --------------------------------------------------------------------------------------------------- */
img{
    cursor: pointer;

}
/* --------------------------------------------------------------------------------------------------- */
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
h1{
    font-size: 40px;
}
/* --------------------------------------------------------------------------------------------------- */
.container2{
    width: 60vw;
    height: fit-content;
    background-color: rgb(156, 160, 160);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    row-gap: 30px;
}
.box{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(188, 188, 188);
    padding: 10px;
    border-radius: 10px;
    transition: all 1s ease;
}
.box:hover{
    transform: scale(0.9);
}

.box>div>img{
    border-radius: 7px;
    padding: 2px;
    padding-top: 5px;
}
.box>div>button{
    background-color: rgb(4, 134, 4);
    transition: all 0.1s ease;
}


span{
    background-color: transparent;
    border: 1px solid;
    border-radius:10px ;
    padding: 3px;
}



footer{
    width: 100%;
    /* background-color: rgb(133, 126, 126); */
    background-color: #bbb;

    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px 50px 0px 0px;
}

